<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>com.sociallibrary.controller.ControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>facebookLogin</servlet-name>
        <servlet-class>com.sociallibrary.authorization.fbLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vkLogin</servlet-name>
        <servlet-class>com.sociallibrary.authorization.vkLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>googleLogin</servlet-name>
        <servlet-class>com.sociallibrary.authorization.gLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>twitterLogin</servlet-name>
        <servlet-class>com.sociallibrary.authorization.twitterLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tester</servlet-name>
        <servlet-class>com.sociallibrary.authorization.tester</servlet-class>
    </servlet>
    <servlet><servlet-name>loginCheck</servlet-name><servlet-class>com.sociallibrary.registration.loginCheck</servlet-class></servlet><servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>facebookLogin</servlet-name>
        <url-pattern>/facebookLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vkLogin</servlet-name>
        <url-pattern>/vkLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>googleLogin</servlet-name>
        <url-pattern>/googleLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>twitterLogin</servlet-name>
        <url-pattern>/twitterLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tester</servlet-name>
        <url-pattern>/tester</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginCheck</servlet-name>
        <url-pattern>/loginCheck</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
